<form class="chat-container" id="chatForm">
  <!-- Header con el nombre de la aplicación -->
  <header class="chat-header">
    <h1>BlurChat</h1>
  </header>

  <div class="chat-box">
    <ul id="messages"></ul>
  </div>

  <footer class="chat-footer">
    <input type="text" name="messageText" id="textForm" placeholder="Type a message" autocomplete="off" />
    <button id="btnForm" type="submit">Enviar</button>
  </footer>

  <!-- Footer con el nombre y derechos reservados -->
  <footer class="app-footer">
    <p>Diego Andres Carrion Portilla - Todos los derechos reservados</p>
  </footer>
</form>